.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

.env

# Admin backend
admin-backend/.env
admin-backend/node_modules

# End of https://mrkandreev.name/snippets/gitignore-generator/#react